::ng-deep {
    .fcm-message {
        padding: 1rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;

        .fcm-image-container {
            width: 48px;
            height: 48px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .fcm-message-content {
            flex-grow: 1;
        }
    }
}

.init-row {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    gap: 1rem;
    align-items: center;
}

.message-sender {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25rem;

    .fields {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h5 {
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                line-height: 1.5;
            }

            .token {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 0.25rem;
                color: #000080;
                font-family: monospace;
                font-size: 12pt;
                text-wrap: pretty;
            }

            input {
                border: 1px solid #ccc;
                outline: none;
                margin: 0;
                padding: 0.5rem;
                width: 100%;
                border-radius: 8px;
                box-sizing: border-box;

                &:focus-within {
                    border: 1px solid #000080;
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;

        button {
            border: 1px solid #ccc;
            background-color: 1px solid #9090a0;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            cursor: pointer;

            &:focus-within {
                border: 1px solid #000080;
            }
        }
    }
}